<!DOCTYPE HTML>
<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
    /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap');
  </style>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../static/js/show-on-scroll.js"></script>
  <link rel="icon" href="../static/images/logo.jpg">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>

</style>

<body>

  <header>
    <div class="container">
      <a href="index.html">
        <img src='../static/images/logo.jpg' class="logo" /></a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><a href="team.html">Our Team</a>
              </button>
              <div class="dropdown-content">
                <a href="team.html#leads">Leads</a>
                <a href="team.html#engineering">Engineering Team</a>
                <a href="team.html#business">Business Team</a>
                <a href="team.html#cultural">Cultural Team</a>
              </div>
            </div>
          </li>
          <li><a href="">Bridges</a></li>
          <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
          <li><a href="supervisors.html">University Supervisors</a></li>
          <li><a href="recruitment.html">Recruitment</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="parallax_bridge">
      <h1 style="color: white"> Past Projects </h1>
    </div>
  </div>

  <div class="fadein">
    <!-- style="text-align: center; margin-top:100px; margin-bottom:100px" -->
    <div class="container" style="text-align: center; margin-top:100px; margin-bottom:100px">
      <h1> Design to Reality </h1>
      <p>After working on the bridge design, raising the necessary funds, and learning about the culture and language
        during the school year,<br> we
        bring our design to reality over the summer for 8 weeks. </p>
    </div>
  </div>


  <div class="fadein" style="margin: 100px;">
    <!-- style="text-align: center; margin-top:100px; margin-bottom:100px" -->
    <div class="container">
      <h2 style="font-size: 30px;"> 2019 Summer - Bridge in Mdlasomi, Kingdom of eSwatini </h2>

      <center>
        <div style="display:flex">
          <img src="../static/images/bridge.jpg" style="width: 50%; float:left; margin-right: 10px;" />
          <img src="../static/images/2019fam.jpg" style="width: 50%; float:right" />
        </div>
      </center>

      <div style="display:flex">
        <p style="font-size:25px; float:left; font-family: 'IBM Plex Sans'; width: 50%; margin-right: 10px;">
          Over the past year, 17 people,
          many of which were young children, have died while attempting to cross the Ngwempisi River to go to schools or
          stores in
          neighboring communities for staple household goods. In response to these tragedies, the community reached out
          to Engineers in Action for help in building a bridge. <br> <br> During the summer of 2019, 7 students from our
          team
          lived and worked alongside the community of Mdlasomi in
          the Kingdom of eSwatini to build a 95 meter suspended cable bridge they have spent the last two semesters
          designing.
        </p>
        <img src="../static/images/educate.jpg"
          style=" margin-left: 30px; margin-top: 10px; margin-left: 10px; float:right;" class="center" />
      </div>
    </div>
  </div>

  <div class="fadein" style="margin: 100px;">
    <!-- style="text-align: center; margin-top:100px; margin-bottom:100px" -->
    <div class="container">
      <h2 style="font-size: 30px;"> 2017 & 2018 Summer - Bridge in Kontshingila-Nhletjeni, Swaziland </h2>

      <center>
        <div style="display:flex">
          <img src="../static/images/bridge18_1.jpg" style="width: 50%; float:left; margin-right: 10px;" />
          <img src="../static/images/bridge18_2.jpg" style="width: 50%; float:right" />
        </div>
      </center>

      <div style="display:flex">
        <img src="../static/images/bridge18_3.jpg"
          style="width: 45%;  margin-top: 10px; float:right; margin-right: 100px;" class="center" />
        <p style="font-size:25px; float:right; font-family: 'IBM Plex Sans'; width: 50%; margin-right: 10px;">
          In the summer of 2017, two students traveled to Southern Africa for two weeks to survey potential bridge sites
          and meet with community members to assess their need. In Kontshingila, Swaziland, 350 people cross the Moneni
          river to go to school, work, and the markets in larger towns. While the river remains passable for the
          majority of the year, for three months during the rainy season the river swells and bars the community from
          crossing safely. In the last three years, more than six people, some children, in a relatively small community
          have died crossing to go to school and to get essential supplies. In the summer of 2018, for two months, we
          built a 70 meter span bridge and changed the landscape of Kontshingila and Nhletjeni. The bridge will provide
          greater opportunities for the community memebers and has greatly impacted both us and the community.
        </p>
      </div>
    </div>
  </div>


  <div class="fadein" style="margin: 100px;">
    <!-- style="text-align: center; margin-top:100px; margin-bottom:100px" -->
    <div class="container">
      <h2 style="font-size: 30px;"> 2014 & 2015 Summer - Bridge in Calcha, Bolivia </h2>

      <div style="display:flex; margin-bottom: 10px;">
        <img src="../static/images/bridge15_1.jpg"
          style="width: 50%;  margin-top: 10px; margin-right: 10px;float:right;" class="center" />
        <p style="font-size:25px; float:right; font-family: 'IBM Plex Sans'; width: 50%; margin-right: 10px;">
          In the summers of 2014 and 2015, Cornell University students completed two assessment trips with the goal of
          building a bridge in Calcha, Bolivia. In the summer of 2016, for two months we built a 50-meter span
          footbridge (seen below). Our bridge impacted the lives of over 200 people and increased access to farmland by
          80%. It was such a motivating experience and the impact on the community was truly life-changing.
        </p>
      </div>
      <center>
        <div style="display:flex">
          <img src="../static/images/bridge15_2.jpg" style="width: 50%; float:left; margin-right: 10px;" />
          <img src="../static/images/bridge15_3.jpg" style="width: 50%; float:right" />
        </div>
      </center>
    </div>
  </div>

  <footer>
    <div style="margin-left: 170px; margin-top: 100px">
      <div class="row">
        <div class="column">
          <p>Sitemap</p>
          <div class="row">
            <div class="column">
              <li><a href="index.html">Home</a></li>
              <li><a href="team.html">Our Team</a>
              </li>
              <li><a href="bridge.html">Bridges</a></li>
              <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
            </div>
            <div class="column">
              <li><a href="supervisors.html">Supervisors</a></li>
              <li><a href="recruitment.html">Recruitment</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Contact Us</p>
          <div class="row">
            <div style="float:left"><a href="https://www.facebook.com/eiacornelluniversity/" class="fa fa-facebook"></a>
              </li>
            </div>
            <div><a href="https://www.instagram.com/cornell_eia/" class="fa fa-instagram"></a></li>
            </div>
          </div>
          <li>eiacornelluniversity@gmail.com</li>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <p style="font-size: 10px; text-align: center;">© 2020 Copyright: Cornell Engineers in Action</p>
  </footer>

</body>


</html>