<!DOCTYPE HTML>
<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
    /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap');
  </style>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../static/js/show-on-scroll.js"></script>
  <link rel="icon" href="../static/images/logo.jpg">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>

</style>

<body>

  <header>
    <div class="container">
      <a href="">
        <img src='../static/images/logo.jpg' class="logo" /></a>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><a href="team.html">Our Team</a>
              </button>
              <div class="dropdown-content">
                <a href="team.html#leads">Leads</a>
                <a href="team.html#engineering">Engineering Team</a>
                <a href="team.html#business">Business Team</a>
                <a href="team.html#cultural">Cultural Team</a>
              </div>
            </div>
          </li>
          <li><a href="bridge.html">Bridges</a></li>
          <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
          <li><a href="supervisors.html">University Supervisors</a></li>
          <li><a href="recruitment.html">Recruitment</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="parallax">
      <div class="centered">
        <h1 style="margin-bottom: 0px;"> Cornell Engineers in Action </h1>
        <h2 style="margin-top: 10px;"> Building Bridges to Connect Communities</h2>
      </div>
    </div>
  </div>

  <div class="fadein">
    <div class="container" style="text-align: center; margin-top:100px; margin-bottom:100px">
      <h2> Our Mission and Vision </h2>
      <p><b>Engineers in Action </b> empowers today's students to become tomorrow's global
        leaders <br> by building bridges with
        underserved communities.
        We envision a world in which global citizens connect <br>
        across cultures to improve quality of
        life and ensure geography doesn’t determine access to opportunity.</p>
    </div>
  </div>

  <div class="fade" style="display:flex;">
    <img src='../static/images/innovate.jpg' class="innovate" />
    <div style="margin-left: 100px;">
      <br><br><br><br>
      <h2>We build to</h2>
      <h1 style="float:center;">Innovate</h1>
      <p style="float:right;">We develop and share engineering solutions that are safe, replicable, and locally viable.
      </p>
    </div>
  </div>

  <br><br><br>
  <div class="fade" style="display:flex;">
    <div style="margin-left: 100px; margin-right: 100px;">
      <br><br><br><br>
      <h2>We build to </h2>
      <h1 style="float:center;">Educate</h1>
      <p style="float:left;">We provide educational programs that teach footbridge construction to reach the greatest
        number of people in need.
      </p>
    </div>
    <img src='../static/images/educate.jpg' class="innovate" />
  </div>

  <br><br><br>
  <div class="fade" style="display:flex;">
    <img src='../static/images/inspire.jpg' class="innovate" />

    <div style="margin-left: 100px;">
      <br><br><br><br>
      <h2>We build to</h2>
      <h1 style="float:center;">Inspire</h1>
      <p style="float:right;">We provide opportunities for leadership development and personal growth through
        international collaboration.
      </p>
    </div>
  </div>

  <footer>
    <div style="margin-left: 170px; margin-top: 100px">
      <div class="row">
        <div class="column">
          <p>Sitemap</p>
          <div class="row">
            <div class="column">
              <li><a href="index.html">Home</a></li>
              <li><a href="team.html">Our Team</a>
              </li>
              <li><a href="bridge.html">Bridges</a></li>
              <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
            </div>
            <div class="column">
              <li><a href="supervisors.html">Supervisors</a></li>
              <li><a href="recruitment.html">Recruitment</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Contact Us</p>
          <div class="row">
            <div style="float:left"><a href="https://www.facebook.com/eiacornelluniversity/" class="fa fa-facebook"></a>
              </li>
            </div>
            <div><a href="https://www.instagram.com/cornell_eia/" class="fa fa-instagram"></a></li>
            </div>
          </div>
          <li>eiacornelluniversity@gmail.com</li>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <p style="font-size: 10px; text-align: center;">© 2020 Copyright: Cornell Engineers in Action</p>
  </footer>
</body>


</html>