<!DOCTYPE HTML>
<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
    /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap');
  </style>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../static/js/show-on-scroll.js"></script>
  <link rel="icon" href="../static/images/logo.jpg">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>

</style>

<body>

  <header>
    <div class="container">
      <a href="index.html">
        <img src='../static/images/logo.jpg' class="logo" /></a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><a href="team.html">Our Team</a>
              </button>
              <div class="dropdown-content">
                <a href="team.html#leads">Leads</a>
                <a href="team.html#engineering">Engineering Team</a>
                <a href="team.html#business">Business Team</a>
                <a href="team.html#cultural">Cultural Team</a>
              </div>
            </div>
          </li>
          <li><a href="bridge.html">Bridges</a></li>
          <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
          <li><a href="supervisors.html">University Supervisors</a></li>
          <li><a href="">Recruitment</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div style="margin: 100px">

    <h1>Recruitment</h1>
    <h2>
      Recruitment is currently closed. Come back Fall 2020 for more information!
    </h2>
    <div style="display:flex">
      <img style="width:50%; float:left; margin-right: 10px;" src="../static/images/survey.jpg" />
      <img style="width:50%; float:right;" src="../static/images/cable.jpg" />

    </div>
  </div>

  <div style="margin: 100px">
    <h1>Frequently Asked Questions</h1>

    <h2>What are project teams?</h2>
    <p>Cornell Engineering Project Teams mimic real-world engineering by bringing Cornell students, faculty, and staff
      together to solve complex problems in team-based settings. Breaking the rules of conventional wisdom is not
      foreign to our engineers and the spirit of innovation is alive and well in our state-or-the-art labs and
      workshops. Many of our teams compete regionally, nationally, and internationally in engineering design and build
      competitions and/or travel the globe for service learning projects and programs.</p>

    <h2>Do I need experience or technical skills to join EIA?</h2>
    <p>Nope! Project teams are learning experiences for students and we are interested in your passion and your
      dedication for our mission. The only exception is if you apply to be the website designer since we are looking for
      a highly skilled website designer to build our website.</p>

    <h2>Can I apply to multiple subteams?</h2>
    <p>Yes! You can apply to up to two subteams and you will be asked to rank your first choice subteam. However, there
      is only one application for EIA.</p>

    <h2> Do I need to be a Civil or Mechanical Engineer to apply?</h2>
    <p>Nope! Team Members' majors include Mechanical, Civil, ECE, CS, Government, Math, and AEM. We are looking for
      people
      with genuine interest in bridges and genuine excitement in helping end rural isolation.</p>
  </div>

  <footer>
    <div style="margin-left: 170px; margin-top: 100px">
      <div class="row">
        <div class="column">
          <p>Sitemap</p>
          <div class="row">
            <div class="column">
              <li><a href="index.html">Home</a></li>
              <li><a href="team.html">Our Team</a>
              </li>
              <li><a href="bridge.html">Bridges</a></li>
              <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
            </div>
            <div class="column">
              <li><a href="supervisors.html">Supervisors</a></li>
              <li><a href="recruitment.html">Recruitment</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Contact Us</p>
          <div class="row">
            <div style="float:left"><a href="https://www.facebook.com/eiacornelluniversity/" class="fa fa-facebook"></a>
              </li>
            </div>
            <div><a href="https://www.instagram.com/cornell_eia/" class="fa fa-instagram"></a></li>
            </div>
          </div>
          <li>eiacornelluniversity@gmail.com</li>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <p style="font-size: 10px; text-align: center;">© 2020 Copyright: Cornell Engineers in Action</p>
  </footer>
</body>

</html>