<!DOCTYPE HTML>
<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
    /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap');
  </style>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../static/js/show-on-scroll.js"></script>
  <link rel="icon" href="../static/images/logo.jpg">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>

</style>

<body>

  <header>
    <div class="container">
      <a href="index.html">
        <img src='../static/images/logo.jpg' class="logo" /></a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><a href="team.html">Our Team</a>
              </button>
              <div class="dropdown-content">
                <a href="team.html#leads">Leads</a>
                <a href="team.html#engineering">Engineering Team</a>
                <a href="team.html#business">Business Team</a>
                <a href="team.html#cultural">Cultural Team</a>
              </div>
            </div>
          </li>
          <li><a href="bridge.html">Bridges</a></li>
          <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
          <li><a href="">University Supervisors</a></li>
          <li><a href="recruitment.html">Recruitment</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div style="margin: 100px">
    <h1>University Supervisors</h1>
    <p>
      <br>
      EIA is looking for university supervisors who will travel to the Kingdom of eSwatini with the student team over
      the summer to provide support and guidance during their stay in-country, as well as ensure that the team’s conduct
      properly reflects Cornell University’s values during all of their activities abroad.

      <br><br>
      Cornell University requires that Supervisors:
      <br><br>
      - Have graduated from a four-year undergraduate degree program from Cornell University
      or another reputable institution by the date of travel

      <br>
      - Are willing and able to travel with the team for at least 2 weeks.

      <br><br>
      Cornell University prefers Supervisors that have experience (but not required) in some or all the following areas:

      <br> <br>
      - Traveling abroad, particularly to developing countries
      <br>
      - Living outdoors/camping/hiking/adventuring
      <br>
      - Working and living with small teams
      <br>
      - Construction and general building practices
      <br><br>
      If you are interested in becoming a supervisor see the <a style="color:red;"
        href="../static/supervisor_packet.pdf">university supervisors
        information packet.</a></p>
  </div>

  <div style="margin: 100px">
    <h1>Frequently Asked Questions</h1>

    <h2>Who are university supervisors and what do they do?</h2>
    <p>Cornell University requires the EIA travel team to travel with university supervisors who will provide support
      and guidance during the stay in-country.Their responsibilities include, but are not limited to, providing the
      university with daily updates, managing risk on and off site, etc. More details can be found in the University
      Supervisors Informational Packet.</p>

    <h2>Are university supervisors hired?</h2>
    <p>Yes, university supervisors are hired through the university. Compensation will be worked out on a case-by-case
      basis, and details can be found in the informational packet.</p>

    <h2>Who are the people university supervisors work with?</h2>
    <p>University supervisors will be working with 8 to 9 of Cornell EIA’s team members, university faculty, and other
      relevant EIA staff. Before traveling, the supervisors will meet with the team members to discuss expectations and
      roles.</p>

    <h2> How do university supervisors get to site? How is the transportation organized?</h2>
    <p>The team’s logistics manager will organize the transportation details and personally get in touch with the
      university supervisors. All transportation fees will be paid for by the university.</p>
  </div>

  <footer>
    <div style="margin-left: 170px; margin-top: 100px">
      <div class="row">
        <div class="column">
          <p>Sitemap</p>
          <div class="row">
            <div class="column">
              <li><a href="index.html">Home</a></li>
              <li><a href="team.html">Our Team</a>
              </li>
              <li><a href="bridge.html">Bridges</a></li>
              <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
            </div>
            <div class="column">
              <li><a href="supervisors.html">Supervisors</a></li>
              <li><a href="recruitment.html">Recruitment</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Contact Us</p>
          <div class="row">
            <div style="float:left"><a href="https://www.facebook.com/eiacornelluniversity/" class="fa fa-facebook"></a>
              </li>
            </div>
            <div><a href="https://www.instagram.com/cornell_eia/" class="fa fa-instagram"></a></li>
            </div>
          </div>
          <li>eiacornelluniversity@gmail.com</li>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <p style="font-size: 10px; text-align: center;">© 2020 Copyright: Cornell Engineers in Action</p>
  </footer>
</body>

</html>