<!DOCTYPE HTML>
<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
    /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap');
  </style>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../static/js/show-on-scroll.js"></script>
  <link rel="icon" href="../static/images/logo.jpg">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>

</style>

<body>

  <header>
    <div class="container">
      <a href="index.html">
        <img src='../static/images/logo.jpg' class="logo" /></a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <div class="dropdown">
              <button class="dropbtn"><a href="team.html">Our Team</a>
              </button>
              <div class="dropdown-content">
                <a href="#leads">Leads</a>
                <a href="#engineering">Engineering Team</a>
                <a href="#business">Business Team</a>
                <a href="#cultural">Cultural Team</a>
              </div>
            </div>
          </li>
          <li><a href="bridge.html">Bridges</a></li>
          <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
          <li><a href="supervisors.html">University Supervisors</a></li>
          <li><a href="recruitment.html">Recruitment</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="parallax_team">
      <div class="centered">
        <h1 style="margin-bottom: 0px; color:white;"> The Team </h1>
      </div>
    </div>
  </div>

  <div class="fadein">
    <div class="container" style="text-align: center;">
      <h1>Who We Are</h1>
      <p> We are a student led project team that designs and builds pedestrian footbridges for rurally isolated
        communities. <br> Our team of 26 passionate students works together to build a safe and innovative bridge for
        the
        betterment of isolated communities. </p>
    </div>
  </div>

  <!---------------------------------LEADS------------------------------------>
  <div style="display:flex;">
    <div id="leads">

      <div class="fadein">
        <div class="container" style="text-align: center;">
          <h2> Meet the Leads! </h2>
        </div>
      </div>

      <div class="profiles">
        <div class="row">
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" id="Divya Maheshwari <br> Civil Engineering 2022"
                src="../static/images/headshots/divya.jpeg" alt="Meet this year’s PM: Divya <br><br> She’s a sunglasses enthusiast who never 
            leaves home without a pair. She considers herself a morning person, 
            but loves looking out on a moonlit or starry night. She gets excited about rain,
             does not enjoy the experience of carbonated beverages, and hopes to
              dance in huge flash mob one day. " style="width:100%">
              <h2 class="name">Divya Maheshwari</h2>
              <p class="title">Project Manager</p>
            </div>

          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" id="Sofia Yoon <br> Computer Science 2022"
                src="../static/images/headshots/sofia.jpeg" alt="Say hello to Sofia, our Admin Lead <br><br> She has lived in 6 different countries across 
              5 different continents after her  summer in eSwatini, has never been to Taco Bell, 
              secretly dreams of being a rapper, and has two different birthdays. 
              As a true engineer, when she doesn’t want to do her physics homework, 
              she procrastinates by doing her CS homework." style="width:100%">
              <h2 class="name">Sofia Yoon</h2>
              <p class="title">Admin Lead</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" id="Chris Cavanaugh <br> Civil Engineering 2021"
                src="../static/images/headshots/chris.jpeg"
                alt="Introducing Chris, this year's Construction Manager!<br><br> Chris really enjoys seeing the bridge design the team works on come to life. In his free time Chris enjoys camping, hiking, and snowboarding."
                style="width:100%">
              <h2 class="name">Chris Cavanaugh</h2>
              <p class="title">Construction Manager</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" id="Sandy Chen <br> Civil Engineering 2022"
                src="../static/images/headshots/sandy.jpeg" alt="Meet this year’s Design Lead, Sandy <br> <br> She is a proud Canadian 
              (and Swazi) who has never driven a car before, but knows how to 
              herd cattle. One of her life’s goals is to understand what is 
              takes to be a good bro. When Sandy isn't thinking about school, 
              she’s probably chasing squirrels or watching deer." style="width:100%">
              <h2 class="name">Sandy Chen</h2>
              <p class="title">Design Lead</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/yunyun.jpeg"
                id="Yunyun Wang <br> Information Science & Government 2021" alt="
            Meet Yunyun, this year's Business Lead! <br><br> Besides being 
            really indecisive about what she wants to study, 
            she's glad to finally be able to use her skills and interests to 
            help others through EIA. Catch her in Zeus avoiding her responsibilities 
            and listening to NPR in her free time!" style="width:100%">
              <h2 class="name">Yunyun Wang</h2>
              <p class="title">Business Lead</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" id="Nikita Krishnan <br> Biomedical Engineering 2021"
                src="../static/images/headshots/niki.jpg" alt="Meet Niki, this year's cultural lead <br> <br> Niki’s favorite TV show 
              is the Golden Girls, she actively supports the Oxford comma, 
              thoroughly loves making dad jokes, and has songs in seven different 
              languages on her Spotify Playlist. Her favorite part of EIA is 
              watching people get overly competitive while playing Kahoot." style="width:100%">
              <h2 class="name">Nikita Krishnan</h2>
              <p class="title">Cultural Lead</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!---------------------------------ENGINEERING ----------------------------->
  <div style="display:flex;">
    <div id="engineering">

      <div class="fade">
        <div class="container" style="text-align: center;">
          <h1>Engineering Team</h1>
          <p> The engineering subteam is responsible for designing the bridge implemented during the summer. <br>
            This includes, selecting and surveying the site, determining the strongest materials needed <br>
            and performing structural analysis!
          </p>
        </div>
      </div>

      <div class="profiles">
        <div class="row">

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" id="Sandy Chen <br> Civil Engineering 2022"
                src="../static/images/headshots/sandy.jpeg" alt="Meet this year’s Design Lead, Sandy <br> <br> She is a proud Canadian 
              (and Swazi) who has never driven a car before, but knows how to 
              herd cattle. One of her life’s goals is to understand what is 
              takes to be a good bro. When Sandy isn't thinking about school, 
              she’s probably chasing squirrels or watching deer." style="width:100%">
              <h2 class="name">Sandy Chen</h2>
              <p class="title">Design Lead</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" id="Chris Cavanaugh <br> Civil Engineering 2021"
                src="../static/images/headshots/chris.jpeg"
                alt="Introducing Chris, this year's Construction Manager!<br><br> Chris really enjoys seeing the bridge design the team works on come to life. In his free time Chris enjoys camping, hiking, and snowboarding."
                style="width:100%">
              <h2 class="name">Chris Cavanaugh</h2>
              <p class="title">Construction Manager</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/adam.jpeg"
                id="Adam Kadhim <br> Computer Science & Music 2023"
                alt="Meet Adam! <br><br> Adam is a freshman Computer Science and Music major on the engineering subteam. Adam enjoys playing jazz and classical Double Bass, watching films, making beats, and playing ping pong in his free time. Adam is also passionate about effective altruism, interdisciplinary studies, and grassroots activism. "
                style="width:100%">
              <h2 class="name">Adam Kadhim</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/caitlin.jpeg"
                id="Caitlin Tormey <br> Mechanical Engineering 2020"
                alt="Meet Caitlin! <br><br> Caitlin is a senior in mechanical engineering and this is her second year on EIA. When she isn't in team meetings she is probably doing backflips in Teagle or complaining that they don't have Bavarian Raspberry Fudge ice cream at Mattins."
                style="width:100%">
              <h2 class="name">Caitlin Tormey</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>


          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/gopi.jpeg"
                alt="Get to know Gopi! <br><br> He is an Ultimate Frisbee guru who doesn’t leave home without a disc, finds Ithaca a bit too warm for his taste, and is capable of doing the splits in a tuxedo. Gopi happens to be every team member’s single most favorite person, and he will stay that way."
                style="width:100%" id="Gopi Ramanathan <br> Mechanical Engineering & Government 2021">
              <h2 class="name">Gopi Ramanathan</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/isabel.jpeg"
                alt="Meet Isabel! <br><br>She is a new member of EIA this year. She is the biggest peanut butter enthusiast who is obsessed with skiing, French rap and mozzarella. She grew up in Switzerland and loves to travel and try new food. She loves the outdoors and her dream is to one day go skydiving. "
                id="Isabel Beariault <br> Math 2023" style="width:100%">
              <h2 class="name">Isabel Beariault</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/gray.jpeg"
                alt="Meet Joseph! <br><br> He's a freshman in engineering but he questions that decision every night while doing problem sets. He subsist on solely coffee and late night nasties. When he's not working or practicing fencing, he's either napping or watching the Office for the hundreth time."
                style="width:100%" id="Joseph Friedman <br> Civil Engineering 2023">
              <h2 class="name">Joseph Friedman</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/gray.jpeg"
                id="Lily Kuang <br> Mechanical Engineering 2023" alt=" Meet Lily! <br><br>Lily is a freshman in engineering and an avid hot-pot lover. One of her long
              term goals is to try and rate all hot-pot resturants in NYC. She likes to listen to lofi-hip hop when
              studying or relaxing; she highly recommends it to everyone!" style="width:100%">
              <h2 class="name">Lily Kuang</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/micah.jpeg"
                id="Micah Chen <br> Civil Engineering 2023" alt=" Heyo, it's Micah! <br><br> One of the freshies in EIA! You can tell he's a freshman because he's
              always lost - that's why he loves Nemo! In fact, he used to watch Finding Nemo every day and it is still
              his favorite movie of all time. The only things he likes more than Nemo are well-designed road
              intersections. Instead of getting road rage at drivers, he gets road rage at awkardly designed road
              intersections." style="width:100%">
              <h2 class="name">Micah Chen</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/yeong.jpeg"
                id="Myeonghak Lee <br> Mechanical Engineering 2022"
                alt="This is Yeong. <br><br> His necessasities are food, water, and his earphones. His brain is conditioned to not function until 10am and to smile automatically when he sees dogs. Although he has a quiet presence and demeanor, his hoodies do not."
                style="width:100%">
              <h2 class="name">Myeonghak Lee</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/saumya.jpeg"
                id="Saumya Mehta <br> Engineering 2023"
                alt="Meet Saumya! <br><br> She is a new member of EIA this year. She loves dancing with her sister and is always down to play Sleigh Ride on the flute, even in the middle of May. She can sleep all day and rewatch her favorite Bollywood movies for the hundredth time. She’s lived in NY her whole life but still doesn’t appreciate the cold winters and relies on inspirational quotes to get through her never ending work."
                style="width:100%">
              <h2 class="name">Saumya Mehta</h2>
              <p class="title">Engineering Team</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/alex.jpeg"
                id="Alex Worsley <br> Mechanical Engineering 2019"
                alt="Meet Alex the Ambassador. <br><br> He is our Chief Boy Scout who refuses to exercise with other people, is an expert on mixing paint, and owns multiple red pairs of pants even though he claims his favorite color is blue.  His goal is to one day figure out how to solve a Rubik’s cube without ever having looked at a solution manual."
                style="width:100%">
              <h2 class="name">Alex Worsley</h2>
              <p class="title">Team Ambassador</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!---------------------------------BUSINESS--------------------------------->
  <div style="display:flex;">
    <div id="business">

      <div class="fade">
        <div class="container" style="text-align: center;">
          <h1>Business Team</h1>
          <p> The business subteam is responsible for the promotion of the organization as well as maintaining
            relationships
            with our sponsors. <br> This subteam is the backbone of the organization because they raise the money
            needed
            in order to build. </p>
        </div>
      </div>

      <div class="profiles">
        <div class="row">
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/yunyun.jpeg"
                alt="Meet Yunyun, this year's Business Lead! <br><br> Besides being really indecisive about what she wants to study, she's glad to finally be able to use her skills and interests to help others through EIA. Catch her in Zeus avoiding her responsibilities and listening to NPR in her free time!" " style="
                width:100%" id="Yunyun Wang <br> Information Science & Government 2021">
              <h2 class="name">Yunyun Wang</h2>
              <p class="title">Business Lead</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/sofia.jpeg" alt="Say hello to Sofia, our Admin Lead <br><br> She has lived in 6 different countries across 
              5 different continents after her  summer in eSwatini, has never been to Taco Bell, 
              secretly dreams of being a rapper, and has two different birthdays. 
              As a true engineer, when she doesn’t want to do her physics homework, 
              she procrastinates by doing her CS homework." style="width:100%"
                id="Sofia Yoon <br> Computer Science 2022">
              <h2 class="name">Sofia Yoon</h2>
              <p class="title">Admin Lead</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/ava.jpeg" id="Ava Chen <br> Economics 2022"
                alt="Meet Ava! <br><br> Ava loves boba, 50% sugar & light ice, of course. Feel free to contact her for a boba chat if you want to bridge gaps, build connections, or spill tea! Please?"
                style="width:100%">
              <h2 class="name">Ava Chen</h2>
              <p class="title">Business Team</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/christine.jpeg"
                alt="Meet Christine!<br><br> She is currently a senior on the business team pursuing a double major in Applied Economics and Management (AEM) and International Agriculture and Rural Development (IARD). Christine loves working with the team to raise funds to ultimately connect isolated communities with an amazing bridge! In her free time, you can find her napping in Mann Library :')"
                style="width:100%" id="Christine Leung <br> AEM and IARD 2020">
              <h2 class="name">Christine Leung</h2>
              <p class="title">Business Team</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/gray.jpeg"
                alt="Meet Elena! <br><br> She is a sophomore on the business team and she joined EIA last fall. She lacks creativity."
                style="width:100%" id="Elena Li <br> Biology&Society 2022">
              <h2 class="name">Elena Li</h2>
              <p class="title">Business Team</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/julia.jpeg"
                alt="Meet Julia, a freshman on the business subteam! <br><br> She used to have a cat named Vincent Stuart Hasselhoff, once ate an entire block of sharp white cheddar cheese in one sitting, and is scared of ants, but not any other bugs. In elementary school, she quit playing soccer becayse it was 'too much running,' but now she runs half marathons... for some reason."
                style="width:100%" id="Julia Allen <br> MechE/Operations Research 2023">
              <h2 class="name">Julia Allen</h2>
              <p class="title">Business Team</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/katie.jpeg"
                alt="Meet Katie! <br><br>Kaitlyn is a new member to the business subteam. When she's not hiding in the stacks in Olin you can find her playing field hockey on Marsha Dodson field. She is always up for an adventure, has never tried coffee, and is always wearing a flannel on Friday. "
                style="width:100%" id="Kaitlyn MacGillis <br> Operations Research Engineering 2022">
              <h2 class="name">Kaitlyn MacGillis</h2>
              <p class="title">Business Team</p>
            </div>
          </div>

          <div class="column">
            <div class="img-container">
              <img onclick="showModal(this)" src="../static/images/headshots/gray.jpeg"
                alt="Say hey to Vanessa! <br><br> She is new to EIA and will be joining the Business team. If you dont find her at Mann, you'll be sure to catch her at Chipotle or Dunkin. She loves watching TV shows on Netflix but never finishes them. She has finised every Hallmark Christmas movie ever released though!"
                style="width:100%" id="Vanessa Martins <br> Environment and Sustainability 2022">
              <h2 class="name">Vanessa Martins</h2>
              <p class="title">Business Team</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!---------------------------------CULTURAL--------------------------------->

  <div id="cultural">

    <div class="fade">
      <div class="container" style="text-align: center;">
        <h1>Cultural Team</h1>
        <p> The cultural subteam is responsible for developing lessons for the entire team to better understand the
          culture of the country <br>that we will be building at the following summer. They hold biweekly workshops and
          expose
          the team to the <br>country's language and cultural activities </p>
      </div>
    </div>

    <div class="profiles">
      <div class="row">
        <div class="column">
          <div class="img-container">
            <img onclick="showModal(this)" src="../static/images/headshots/niki.jpg" alt="Meet Niki, this year's cultural lead <br> <br> Niki’s favorite TV show 
              is the Golden Girls, she actively supports the Oxford comma, 
              thoroughly loves making dad jokes, and has songs in seven different 
              languages on her Spotify Playlist. Her favorite part of EIA is 
              watching people get overly competitive while playing Kahoot."
              id="Nikita Krishnan <br> Biomedical Engineering 2021" style="width:100%">
            <h2 class="name">Nikita Krishnan</h2>
            <p class="title">Cultural Lead</p>
          </div>
        </div>

        <div class="column">
          <div class="img-container">
            <img onclick="showModal(this)" src="../static/images/headshots/gray.jpeg"
              alt="Say hi to Alicia! <br><br> She is new to the Cultural team and America. She is a caffeine addicted crazy vegan. If she's late to a meeting, it's probably because she could't decide on what to wear but will probably show up wearing black leggings and a black sweatshirt. "
              style="width:100%" id="Alicia Wagner <br> Environmental Engineering 2022">
            <h2 class="name">Alicia Wagner</h2>
            <p class="title">Cultural Team</p>
          </div>
        </div>

        <div class="column">
          <div class="img-container">
            <img onclick="showModal(this)" src="../static/images/headshots/gray.jpeg" alt="Introducing Audrey!"
              style="width:100%">
            <h2 class="name">Audrey Teasley</h2>
            <p class="title">Cultural Team</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="img-container">
            <img onclick="showModal(this)" src="../static/images/headshots/gopi.jpeg"
              alt="Get to know Gopi <br><br> He is an Ultimate Frisbee guru who doesn’t leave home without a disc, finds Ithaca a bit too warm for his taste, and is capable of doing the splits in a tuxedo. Gopi happens to be every team member’s single most favorite person, and he will stay that way."
              style="width:100%" id="Gopi Ramanathan <br> Mechanical Engineering & Government 2021">
            <h2 class="name">Gopi Ramanathan</h2>
            <p class="title">Cultural Team</p>
          </div>
        </div>

        <div class="column">
          <div class="img-container">
            <img onclick="showModal(this)" src="../static/images/headshots/kelly.jpeg"
              id="Kelly Luo <br> Operations Research Engineering 2021" alt="Introducing Kelly!" style="width:100%">
            <h2 class="name">Kelly Luo</h2>
            <p class="title">Cultural Team</p>
          </div>
        </div>


        <div class="column">
          <div class="img-container">
            <img onclick="showModal(this)" src="../static/images/headshots/mo.jpeg"
              id="Mofoluke Obiri <br> Mechanical Engineering 2022"
              alt="Meet Mo, a new member of the Cultural team! <br><br> She is a professional binge watcher with an expertise in Disney movies. She loves competition and takes pride in being a sore loser. When she’s not doing a problem set, you can find her playing soccer or sleeping in a library. "
              style="width:100%">
            <h2 class="name">Mofoluke Obiri</h2>
            <p class="title">Cultural Team</p>
          </div>
        </div>

      </div>


    </div>
  </div>

  <!----------------------------------- MODAL ---------------------------------->
  <div class="modal hide" id="myModal" tabindex="-1">
    <div class="modal-content">

      <!-- Modal Body -->
      <div class="modal-body">

        <div style="display:inline-block;">
          <button type="button" style="float:right" class="close" onclick="hideModal()">&times;</button>
          <img class="modal-img" src="../static/images/headshots/gray.jpeg" style="float:left">
          <div id="caption" style="float:right"></div>
        </div>
        <div id="profile_name" style="float:left;"> </div>

      </div>
    </div>
  </div>


  <!--------Footer----->
  <footer>
    <div style="margin-left: 170px; margin-top: 100px">
      <div class="row">
        <div class="column">
          <p>Sitemap</p>
          <div class="row">
            <div class="column">
              <li><a href="index.html">Home</a></li>
              <li><a href="team.html">Our Team</a>
              </li>
              <li><a href="bridge.html">Bridges</a></li>
              <li><a href="https://securelb.imodules.com/s/1717/giving/interior.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=978&sort=1&bledit=8">Donate</a></li>
            </div>
            <div class="column">
              <li><a href="supervisors.html">Supervisors</a></li>
              <li><a href="recruitment.html">Recruitment</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Contact Us</p>
          <div class="row">
            <div style="float:left"><a href="https://www.facebook.com/eiacornelluniversity/" class="fa fa-facebook"></a>
              </li>
            </div>
            <div><a href="https://www.instagram.com/cornell_eia/" class="fa fa-instagram"></a></li>
            </div>
          </div>
          <li>eiacornelluniversity@gmail.com</li>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <p style="font-size: 10px; text-align: center;">© 2020 Copyright: Cornell Engineers in Action</p>
  </footer>

</body>

<script src="../static/js/modal.js"></script>

</html>